<p>
  TEACHER SAYS
</p>

<button (click) = "greetStudent()">greet student</button>
<button (click) = "appreciateStudent()">appreciate student</button>

<div>
  colour : <input type="text" [(ngModel)] = "colour" [style.background] = "colour"/>
</div>

<app-student></app-student>