  <!-- <h1>
    WELCOME TO FORM CONTROL
  </h1>

<form [formGroup]="profile">

  <label>FirstName</label>
  <input type="text"  formControlName="firstName"/>

  <label>LastName</label>
  <input type="text"  formControlName="lastName"/>

  <button (click)="onSubmit()">save</button>
</form> -->

<div class="container-fluid mb-5">
  <form #formValue="ngForm">
    <!-- {{formValue.value | json}} -->
    <div ngModelGroup="details">
      <div class="form-group">
        <label>UserName:</label>
        <input type="text" #userName="ngModel"  class="form-control" name="userName" [class.is-invalid]="userName.is-invalid && userName.touched"  ngModel required [(ngModel)]="name"/>
        <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Name is required</small>

        {{userName.valid}}
      </div>
      <div class="form-group">
        Email:<input type="email" class="form-control" name="email" ngModel/>
      </div>
      <div class="form-group">
        Password:<input type="password" class="form-control" name="password" mgModel/>
      </div>
    </div>
  
  </form>

</div>

