
<div>
  {{message}}
</div>

<app-child-comp1 (childEvent)="message=$event" [childName] = "name"></app-child-comp1>

<div>
    {{message2}}
  </div>
<app-child-comp2 (childEvent2)="message2=$event" [child2] = "name"></app-child-comp2>