<p appCusDir>"this is custom directive"</p>
<br>
<p>the following is the example for custom pipe</p>

Enter String To Reverse : <input type="text" [(ngModel)]="inputString"/>
Reversed String : {{inputString | reverse}}