<p>
  STUDENT SAYS
</p>

<div>
  colour : <input type="text" [(ngModel)] = "colour" [style.background] = "colour"/>
</div>
 
<button (click) = "onClick()">clickMe</button>

<div>
  <button (click) = "getdetails()">get details</button>
  <ul *ngFor = "let employe of employee">
    <li>{{employe.id}}.{{employe.name}}-{{employe.age}}</li>
  </ul>
  <h1>{{error}}</h1>
</div>